{% load static compress  %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block meta_title %}{% endblock %} | Mao Era in Objects</title>
    <meta name="author" content="King's Digital Lab">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
    {% endcompress %}
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <div class="wrapper">
      <header>
      <a href="/">The Mao Era in Objects</a>
      <nav>
          <input type="checkbox" id="menu">
          <label aria-label="Menu" class="menu-label" for="menu">
          </label>
          <div class="menu-list">
            <ul>
              <li class="">
                  <a href="/">
                      Home
                  </a>
              </li>
              <li class="">
                  <a href="/about/">
                      Project Information
                  </a>
              </li>
              <li class="">
                  <a href="">
                      Timeline
                  </a>
              </li>
              <li class="">
                  <a href="">
                      Essays
                  </a>
              </li>             
               <li class="">
                  <a href="">
                    Teaching Resource
                  </a>
                  <ul>
                    <li>
                      <a href="">
                        Sub Item 1 
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Sub Item 2
                      </a>
                    </li>
                               <li>
                      <a href="">
                        Sub Item 3
                      </a>
                    </li>         
              </li> 
               <li class="">
                  <a href="">
                    Site Search
                  </a>
              </li>                
            </ul>
          </div>
      </nav>
      </header>

      <main>
        {% block title %}{% endblock title %}
        {% block main %}{% endblock main %}
      </main>

      <footer>
        {% block footer %}
        {% endblock %}
      </footer>
    </div>

    {% compress js %}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

    {% block footer_scripts %}{% endblock %}

    {% compress js %}
    <script src="{% static 'js/google_analytics.js' %}"></script>
    <script>
      ga('create', '{{ GA_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endcompress %}
  </body>
</html>
