{% load compress mao_era_tags static wagtailcore_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block meta_title %}{% endblock %} | Mao Era in Objects</title>
    <meta name="author" content="King's Digital Lab">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
    {% endcompress %}
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <div role="navigation"><a href="#main-content" class="skip">Skip to main content</a></div>
    <header>
      <a href="/">The Mao Era in Objects</a>
      <nav>
        <input type="checkbox" id="menu">
        <label aria-label="Menu" class="menu-label" for="menu">
          <span class="menu-text">MENU</span>
          <span class="menu-icon">
          </span>
        </label>

        <div class="menu-list">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            {% get_site_root as site_root %}
            {% get_menu_pages site_root as menu_pages %}
            {% for menu_page in menu_pages %}
            <li>
              <a href="{% pageurl menu_page %}">{{ menu_page.title }}</a>
              {% get_menu_pages menu_page as menu_page_children %}
              {% if menu_page_children %}
              <ul>
                {% for menu_page_child in menu_page_children %}
                <li>
                  <a href="{% pageurl menu_page_child %}">
                    {{ menu_page_child.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </header>

    <main id="main-content">
      {% block title %}{% endblock title %}
      {% block main %}{% endblock main %}
    </main>

    <footer>
        <p>© 2019 Copyright The Mao Era in Objects</p> 
        <p>Developed, designed and maintained by <a href="https://kdl.kcl.ac.uk" title="King's Digital Lab">King's Digital Lab</a></p>
      {% block footer %}
      {% endblock %}
    </footer>

    {% compress js %}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

    {% block footer_scripts %}{% endblock %}

    {% compress js %}
    <script src="{% static 'js/google_analytics.js' %}"></script>
    <script>
      ga('create', '{{ GA_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endcompress %}
  </body>
</html>
