{% load static compress  %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block meta_title %}{% endblock %} | Mao Era in Objects</title>
    <meta name="author" content="King's Digital Lab">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
    {% endcompress %}
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <div class="wrapper">
      <header>
      </header>
      <main>
        {% block title %}{% endblock title %}
        {% block main %}{% endblock main %}
      </main>

      <footer>
        {% block footer %}
        {% endblock %}
      </footer>
    </div>

    {% compress js %}
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endcompress %}

    {% block footer_scripts %}{% endblock %}

    {% compress js %}
    <script src="{% static 'js/google_analytics.js' %}"></script>
    <script>
      ga('create', '{{ GA_ID }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endcompress %}
  </body>
</html>
