{% extends "mao_era/base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}{{ page.title }}{% endblock meta_title %}

{% block main %}
<div class="shortcutlinks">
  <a href="">Introduction</a><a href="">Teaching Resource</a>
</div>

<form action="" method="get">
  <section id="search">
    <div class="search-field">
      <input name="q" value="{{ q }}" placeholder="Search in Objects" aria-label="search">
      <button class="close-icon" type="reset"></button>
      <button class="search-icon" type="submit"></button>
    </div>
    <div class="search-summary">
      {% for facet in facets %}
      {% if not facet.is_apply %}<span><a href="?{{ facet.link }}">X</a> {{ facet.name }} ({{ facet.count }})</span>{% endif %}
      {% endfor %}
    </div>
    <div class="search-filters">
      <div class="filter">
        <input type="checkbox" id="filter-nav">
        <label aria-label="Filter list" for="filter-nav" class="filter-label">Filters</label>
        <div class="filter-drawer">
          <div class="filter-content">
            <h2>Filters</h2>

            <ul>
              {% for facet in facets %}
              <li>
                {% if facet.is_apply %}<a href="?{{ facet.link }}">{{ facet.name }}</a>
                {% else %}<a href="?{{ facet.link }}">X</a> {{ facet.name }}
                {% endif %} <span>({{ facet.count }})</span>
              </li>
              {% endfor %}
            </ul>
            <button aria-label="Clear filters" type="submit">Clear all</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="tabs">
    <input id="tab1" type="radio" name="tabs" value="grid"{% if tabs == 'grid' %} checked="checked"{% endif %}>
    <label for="tab1"><span>&#8862; Grid</span></label>
    <input id="tab2" type="radio" name="tabs" value="list"{% if tabs == 'list' %} checked="checked"{% endif %}>
    <label for="tab2"><span>&#8803; List</span></label>

    <section id="content1" class="tab-content">
      {% for biography in biographies %}
      <div class="photo">
        <a href="#{% pageurl biography %}">
          <div class="photo-image">
            {% image biography.featured_image original %}
          </div><!--end .photo-image-->
        </a>
        <div class="modal-overlay" id={% pageurl biography %}>
          <div class="modal-content">
            <a href="#" class="modal-close">&#10005;</a>
            <h3>{{ biography.title }}</h3>
            <p>{{ biography.summary }}</p>
            <a class="readmore" href="{% pageurl biography %}">Read more ></a>
            <ul class="keywords">
              <h5>KEYWORDS</h5>
              {% for tag in biography.tags.all %}
              <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div><!--end .modal-content-->
        </div><!--end .modal-overlay-->
      </div><!--end .photo-->
      {% endfor %}
    </section>

    <section id="content2" class="tab-content">
      {% for biography in biographies %}
      <a href="{% pageurl biography %}">
        <div class="photo">
          <div class="photo-image">
            {% image biography.featured_image original %}
          </div>
          <div class="photo-data">
            <h2>{{ biography.title }}</h2>
            <p class="summary">{{ biography.summary }}</p>
            <ul class="keywords">
              <h6>KEYWORDS</h6>
              {% for tag in biography.tags.all %}
              <li>{{ tag }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </a>
      {% endfor %}
    </section>
  </div>
</form>
{% endblock main %}
