{% extends "mao_era/base.html" %}
{% load mao_era_tags static wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}{{ page.title }}{% endblock meta_title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
<link rel="stylesheet" href="{% static 'vendor/timeline/css/timeline.css' %}">
{% endblock extra_css %}

{% block main %}
<article>
  <h2>{{ page.title }}</h2>

  <h5>{{ page.byline }}</h5>

  <div class="summary" id="summary">{{ page.summary }}</div>

  <hr>

  <div class="keywords" id="keywords">
    <h3>Keywords</h3>

    <ul>
      {% for tag in page.tags.all %}
      <li><a href="{% pageurl home %}?tag={{ tag }}">{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>

  <hr>

  {{ page.biography }}

  <hr>

  <div class="footnotes" id="footnotes" style="clear: both;">
    <h3>Footnotes</h3>

    <ol>
      {{ page.footnotes }}
    </ol>
  </div>

  <hr>

  <div class="sources" id="sources">
    <h3>Sources</h3>

    <div class="key">
      <ul>
        <li>⧉ <span>IMAGE</span></li>
        <li>а <span>TEXT</span></li>
        <li>▸ <span>VIDEO</span></li>
        <li>♪ <span>AUDIO</span></li>
        <li>▤ <span>PDF</span></li>
      </ul>
    </div>

    <ol>
      {% for biography_source in page.sources.all %}
      <li>
        {% with source=biography_source.source %}
        <a href="{% pageurl source %}">{% display_source_title source %}</a>
        {% endwith %}
      </li>
      {% endfor %}
    </ol>
  </div>

  <hr>

  <div class="geography" id="geography">
    <h3>Geography</h3>

    <div class="geography-map" id="map" style="height: 200px;">
    </div>

    <div class="geography-data">
    </div>
  </div>

  <hr>

  <div class="timeline" id="timeline">
    <h3>Timeline</h3>

    <div id="timeline-embed" style="width: 100%; height: 25em;"></div>
  </div>

  <hr>

  <div class="furtherreading" id="furtherreading">
    <h3>Further Reading</h3>

    {{ page.further_reading|richtext }}
  </div>
</article>

<div class="sidebar">
  <div class="tabs-object">
    <input id="tab1" type="radio" name="tabs" checked="checked">
    <label for="tab1"><span>Structure</span></label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><span>Source</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><span>Related</span></label>

    <section id="content1" class="tab-content">
      <ul>
        <li>
          <a href="#summary" class="name-active"><h5>Summary</h5></a>
        </li>
        <li>
          <a href="#keywords"><h5>Keywords</h5></a>
        </li>
        {% for block in page.biography %}
        <li>
          <a href="#section-{{ forloop.counter }}"><h5>{{ block.value.heading }}</h5></a>
        </li>
        {% endfor %}
        <li>
          <a href="#footnotes"><h5>Footnotes</h5></a>
        </li>
        <li>
          <a href="#sources"><h5>Sources</h5></a>
        </li>
        <li>
          <a href="#geography"><h5>Geography</h5></a>
        </li>
        <li>
          <a href="#timeline"><h5>Timeline</h5></a>
        </li>
        <li>
          <a href="#furtherreading"><h5>Further Reading</h5></a>
        </li>
      </ul>
    </section>
    <section id="content2" class="tab-content">
      <ul>
        {% for biography_source in page.sources.all %}
        <li>
          {% with source=biography_source.source %}
          <a href="{% pageurl source %}">
            <h5>Source {{ forloop.counter }} <span>{% display_source_title source %}</span></h5>
          </a>
          {% endwith %}
        </li>
        {% endfor %}
      </ul>
    </section>

    <section id="content3" class="tab-content relatedobjects">
      <ul>
      {% for object in page.related_objects.all %}
      <li>
        <a href="{% pageurl object %}">
          <h3>{{ object.title }}</h3>
          {% image object.featured_image original %}
          <p>{{ object.summary }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    </section>
  </div>
</div>
{% endblock main %}

{% block footer_scripts %}
<script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
<script src="{% static 'vendor/timeline/js/timeline.js' %}"></script>
<script>
  // Map.
  var map = L.map('map').setView([35, 110], 3);
  L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}.png', {
    attribution: 'Tiles Courtesy of <a href="http://www.esri.com/software/arcgis/arcgisonline/maps/maps-and-map-layers" target="_blank">Esri</a>'
  }).addTo(map);
  var map_markers = {{ map_markers|safe }};
  for (i = 0; i < map_markers.length; i++) {
      marker = L.marker(map_markers[i].latlng).addTo(map);
      marker.bindPopup(map_markers[i].popup);
  }
</script>
<script>
  // Timeline.
  timeline = new TL.Timeline('timeline-embed', '{{ timeline_url }}');
</script>
{% endblock footer_scripts %}
