{% extends "mao_era/base.html" %}
{% load static wagtailcore_tags %}

{% block meta_title %}{{ page.title }}{% endblock meta_title %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/tablesorter/css/theme.default.css' %}">
<link rel="stylesheet" href="{% static 'vendor/tablesorter/css/filter.formatter.css' %}">
{% endblock extra_css %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vendor/tablesorter/js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/tablesorter/js/jquery.tablesorter.widgets.js' %}"></script>
{% endblock extra_js %}

{% block main %}
<article class="width-100">
  <div class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% pageurl site_root %}">Home</a></li>
    </ul>
    <h1>{{ page.title }}</h1>
  </div>

  {{ page.body|richtext }}

  <div>
    <!-- <div class="key">
        <ul>
          <li>⧉ <span>IMAGE</span></li>
          <li><small>文 </small><span>TEXT</span></li>
          <li>▸ <span>VIDEO</span></li>
          <li>♪ <span>AUDIO</span></li>
          <li>▤ <span>PDF</span></li>
        </ul>
      </div> -->

    <table id="sources-table" class="tablesorter">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        {% for source_page in page.get_children.live %}
        {% with source=source_page.specific %}
        <tr>
          {% with source_type=source.source_type %}
          {% if source_type == 'audio' %}<td data-text="audio"><span class="icon">♪</span> Audio</td>
          {% elif source_type == 'image' %}<td data-text="image"><span class="icon">⧉</span> Image</td>
          {% elif source_type == 'text' %}<td data-text="text"><span class="icon">文</span> Text</td>
          {% elif source_type == 'video' %}<td data-text="video"><span class="icon">▸</span> Video</td>
          {% elif source_type == 'pdf' %}<td data-text="pdf"><span class="icon">▤</span> PDF</td>
          {% endif %}
          {% endwith %}
          <td><a href="{% pageurl source %}">{{ source.title }}</a></td>
        </tr>
        {% endwith %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</article>
{% endblock main %}

{% block footer_scripts %}
{{ block.super }}
<script>
$(function() {
    $("#sources-table").tablesorter({
        widgets: ["filter"],
        widgetOptions: {
            filter_columnFilters: true
        }
    });
});
</script>
{% endblock footer_scripts %}
