{% extends "mao_era/base.html" %}
{% load mao_era_tags static wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}{{ page.title }}{% endblock meta_title %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/timeline/css/timeline.css' %}">
{% endblock extra_css %}


{% block main %}
<div class="object-page">
  <article class="width-100">
      <h1>{{ page.title }}</h1>
      <div class="timeline" id="timeline">
        <div class="events">
          <div class="event-input">
            <span>Search events by year (e.g., 1950): </span>
            <form action="" method="GET" class="year-search-field">
                <label>
                  <span hidden>Enter year</span>
                  <input type="number" name="y" value="{{ query }}" placeholder="yyyy" aria-label="year search bar" min="1700" max="2050">
                </label>
                {% load static %}
                <button class="search-icon" type="submit"><i class="fas fa-search"></i></button>
            </form>
          </div>
          {% if query %}
            {% if events %}
              <h4>{{ events.count }} event{{events|pluralize:'s'}} found for '{{ query }}'</h4>
              {% for event in events%}
              <div class="event-results">
                  <p class="event-date">{{ event.date_start|formatDate }}{% if event.date_end %} - {{event.date_end}}{% endif%}</p>
                  <div>
                    <h2>{{event.title | safe}}</h2>
                    <p>{{event.description | safe}}</p>
                  </div>
              </div>
              {% endfor %}
            {% else %}
              <h4>No events found for '{{ query }}'</h4>
            {% endif %}
          {% endif %}
        </div>
        <div id="timeline-embed"></div>
    </div>
  </article>
</div>
{% endblock main %}


{% block footer_scripts %}
<script src="{% static 'vendor/timeline/js/timeline.js' %}"></script>
<script>
   var options = {
    scale_factor: 4,
    marker_padding: 10,
    marker_height_min: 42
  }
  timeline = new TL.Timeline('timeline-embed', '{{ timeline_url }}', options);
</script>
{% endblock footer_scripts %}
