{% extends "mao_era/base.html" %}
{% load mao_era_tags static wagtailcore_tags wagtailimages_tags %}

{% block meta_title %}{{ page.title }}{% endblock meta_title %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/timeline/css/timeline.css' %}">
{% endblock extra_css %}


{% block main %}
<div class="object-page">
  <article class="width-100">
      <h1>{{ page.title }}</h1>
    <div class="timeline" id="timeline">
      <div id="timeline-embed"></div>
    </div>
  </article>
</div>
{% endblock main %}


{% block footer_scripts %}
<script src="{% static 'vendor/timeline/js/timeline.js' %}"></script>
<script>
   var options = {
    optimal_tick_width: 600,
  }
  timeline = new TL.Timeline('timeline-embed', '{{ timeline_url }}', options);
</script>
{% endblock footer_scripts %}
