wagtail>=2.5
django == 2.1
django-compressor
django-extensions
django-libsass
django-model-utils
django-redis
psycopg2-binary
redis
elasticsearch>=5.0.0,<6.0.0
django-activecollab-digger
django-kdl-ldap
weasyprint
