@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500|ZCOOL+XiaoWei');

// @font-face {
//     font-family: 'ZCOOLXiaoWei';
//     src: url("../fonts/ZCOOLXiaoWei-Regular.ttf") format('ttf');
// }
// @font-face {
//     font-family: 'M PLUS 1p';
//     src: url("../fonts/MPlus1p-Regular.woff") format('woff'),
//             url("../fonts/MPlus1p-Regular.woff") format('truetype');
//     font-weight: 400;
// }
// @font-face {
//     font-family: 'M PLUS 1p';
//     src: url("../fonts/MPlus1p-Medium.woff") format('woff'),
//             url("../fonts/MPlus1p-Medium.woff") format('truetype');
//     font-weight: 500;
// }

/*

- GENERAL
	- Colours
	- Mixins
- HEADER
	- Navigation
	- Search
- MAIN
- FOOTER
- HOMEPAGE
	- Shortcut links
	- Search
	- Tabs
		- Modal
- OBJECT PAGE
	- Breadcrumbs
	- Article
	- Sidebar nav
- SOURCE PAGE
	
/**** GENERAL ****/

/* Colours */
$primary-color: #6b9e8d;
$secondary-color:#812f2d;
$black: #031b27;
$white: #fff;
$light-primary: #abd3c5;
$lightgray:#ccc;
$gray:#555;
$darkgray:#2d303a;

/* Mixins  */
@mixin calc($prop, $val) {
	@each $pre in -webkit-,
	-moz-,
	-o- {
		#{$prop}: $pre+calc(#{$val});
	}

	#{$prop}: calc(#{$val});
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: 'M PLUS 1p', sans-serif;
	background:#f7f7f7;
	color:$black;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

button, a {
	cursor: pointer;
}

button {
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 500;
}

a {
	text-decoration:none;
	color: darken($primary-color, 11%);
	b {
		font-weight: 500;
	}
}

.readmore {
	font-weight: 500;
}

.delimiter {
	margin: 0px 10px;
}

h2.section:before {
	content: "";
	padding-top: 80px;
	margin-top: -40px;
}

p {
	line-height: 1.4em;
}

#sources-table {
	font-size: 1.1rem;
	td, th {
		background-color: #f7f7f7;
	}
	th {
		font-weight: 500;
		&:focus {
			outline: none;
			background-color: lighten(#f7f7f7, 10%);
		}
	}
	thead {
		td {
			margin: 0px;
		}
		input {
			font-size: 1.1rem; 
			margin: 10px 15px;
		}
	}
	tbody td {
		&:first-child {
			width: 30%;
		}
		padding: 20px;
		.icon {
			width: 20px;
			display: inline-block;
		}
	}
}

hr{
	border-top: none;
	border-bottom:1px dashed $lightgray;
	margin:1rem 0;
	float: left;
	width: 100%;
}

sup{
	font-size:0.7rem;
}

section{
	-moz-transition:all 200ms ease-in;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}

.skip a {
	font-size: 1px;
	color: $black;
}

/**** HEADER ****/
header {
	position: fixed;
	width:100%;
	top:0;
	background:lighten($primary-color,20%);
	height:3.5rem;
	// padding: 0.9rem 3% 0 3%;
	padding: 0.3rem 3% 0 3%;
	z-index:1000;
	a {
		font-size: 2.1rem;
		text-transform:uppercase;
		color: $black;
		font-weight: 500;
	}
	/**** NAVIGATION ****/
	nav {
		.menu-list {
			position: fixed;
			top: 0;
			right: 0;
			width: 350px;
			height: 100%;
			margin: 0 -350px 0 0;
			-moz-transition: all 200ms ease-in;
			-webkit-transition: all 200ms ease-in;
			-o-transition: all 200ms ease-in;
			transition: all 200ms ease-in; 
			overflow:scroll;
			>ul {
				width:100%;
				height: 100%;
				padding-top: 3.5rem;
				list-style: none;
				background: darken($primary-color,25%);
				margin: 0;
				>li {
					margin-left: -40px;
					background: darken($primary-color,25%);
					a {
						color: white;
						text-decoration: none;
						font-size: 1.3em;
						padding: 1rem 2rem 1rem 3rem;
						display:block;
					}/* end a */
					&:last-child {
						border-bottom: 1px solid $white;
					}
					&:hover{
						background: darken($secondary-color,10%);
					}
					>ul{
						padding-top:0;
						margin-left:20px;
						list-style-type: none;
						>li{
							border-top: 1px dashed $white;
							a{
								padding: 1rem 2rem 1rem 1rem;
							}
							&:hover{
								background: $lightgray;
								a{
									color: $black;
								}
							}
						}
					}
				}/* end li */
			}/* end ul */
		}/* end .menu-list */
		label {
			display: block;
			-moz-transition: all 200ms ease-in;
			-webkit-transition: all 200ms ease-in;
			-o-transition: all 200ms ease-in;
			transition: all 200ms ease-in;
			z-index: 2;
			cursor: pointer;
			&.menu-label {
				position: absolute;
				top:1rem;
				right: 1.6rem;
				font-size: 1.3rem;
				display: block;
				height:1.5rem;
				.menu-text{
					position: absolute;
					right: 2.3rem;
					top: -4px;
				}
				.menu-icon{
					position: relative;
					margin: 9px 0 0 55px;
					text-indent: -9999px;
					transition: all .1s ease-in;
					width: 30px;
					height: 3px;
					background-color: $black;
					display: block;
					&:before{
					content: '';
					position: absolute;
					top: -9px;
					transition: all .1s ease-in;
					width: 30px;
					height: 3px;
					background-color: $black;
					display: block;
					}
					&:after{
					content: '';
					position: absolute;
					top: 9px;
					transition: all .1s ease-in;
					width: 30px;
					height: 3px;
					background-color: $black;
					display: block;
					}
				}
				&:hover {
					color: $secondary-color;
					.menu-icon{
						background-color:$secondary-color;
						&:before,&:after{
							background-color:$secondary-color;
						}
					}
				}
			}/* end .menu-label */

		}/* end label */
		input#menu[type="checkbox"] {
			display: none;
		}/* end input#menu[type="checkbox"] */
		input#menu[type="checkbox"]:checked~.menu-list {
			margin: 0;
		}/* end iinput#menu[type="checkbox"]:checked~.menu-list */
		input#menu[type="checkbox"]:checked~label.menu-label {
		/* burger icon */
		span{
			display: none;
		}
		/* cross icon */
		&:before {
			content: '✕';
			right: 0;
			color: $white;
			font-size:1.5rem;
			top:-0.3rem;
			// padding:0.4rem 0.6rem 0.2rem 0.6rem;
			padding: 3px 10px;
			border-radius:50%;
		}
		&:hover{
			&:before {
				background: darken($secondary-color,10%);
			}
		}
		}/* end input#menu[type="checkbox"]:checked~label.menu-label */
	}/* end nav */
}/* end header */

/**** MAIN ****/
main {
	overflow: auto;
	padding-bottom: 60px;
	min-height: 90vh;
}/* end MAIN */

/**** FOOTER ****/
footer {
	background-color: #36534a;
	padding: 20px;
	text-align: center;
	
	p {
		color: white;
		line-height: 1.2em;
		a {
			color: white;
			opacity: 0.8;
			text-decoration: underline;
			&:hover {
				opacity: 1;
			}
		}
	}
}/* end FOOTER */

/**** HOMEPAGE/SEARCH RESULTS ****/
/* Shortcut links */
.shortcutlinks{
	margin-top:3.5rem;
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	a {
		border:1px solid $lightgray;
		padding:0.7rem 1.2rem;
		margin:10px 0.5rem;
		background:$white;
		font-weight: 500;
		width: 193px;
		text-align: center;
		&:hover{
			color:$white;
			background:$secondary-color;
  }/* end hover */
} /* end a */
}/* end .shortcutlinks */



/* Search */
section#search {
	.search-field {
		margin: 1.5rem 10% 0 10%;
		width: 80%;
		text-align: center;
		position: relative;
		input {
			width: 100%;
			height: 55px;
			padding: 0 20px;
			margin:0 -2%;
			font-size: 1rem;
			outline: none;
			border: 1px solid $lightgray;
			font-family: 'M PLUS 1p', sans-serif;
			&::placeholder{
				color: darken($lightgray,20%);
				font-size: 1rem;
				font-style:italic;
			}
			&:focus {
				border: 1px solid $lightgray;
				transition: 0.35s ease;
				color: $black;
				background:$lightgray;

				&::-webkit-input-placeholder {
					transition: opacity 0.45s ease;
					opacity: 0;
				}
				&::-moz-placeholder {
					transition: opacity 0.45s ease;
					opacity: 0;
				}
				&:-ms-placeholder {
					transition: opacity 0.45s ease;
					opacity: 0;
				}
			}
			&:not(:valid) ~ .close-icon {
				opacity: 0;
			}
		}/* end input */
		.search-buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			position: absolute;
			top: 15%;
			right: 2%;
			.close-icon {
				background-color: $gray;
				border: none;
				border-radius: 50%;
				width: 27px;
				height: 27px;
				margin-right: 10px;
				color: white;
				font-size: 16px;
				padding: 0px;
				padding-bottom: 3px;
				outline: 0;
				&:focus {
					background-color: darken($gray, 11%);
				}
			}
			.search-icon {
				background:none;
				border: none;
				outline: 0;
				width: 40px;
				height: 40px;
				i {
					font-size: 2em;
					color: #555;
				}
				&:focus {
					background-color: #fafafa;
				}
			}
		}
		/*
		button.close-icon {
			// position: relative;
			border:1px solid transparent;
			background-color: transparent;
			display: inline-block;
			vertical-align: middle;
			outline: 0;
			cursor: pointer;
				&:after {
					content: "✕";
					display: block;
					width: 27px;
					height: 27px;
					position: absolute;
					background-color: $gray;
					z-index:1;
					right: 75px;
					top: -4px;
					bottom: 0;
					margin: 17px 10px 0px 0px;
					padding: 7px 0 0 0;
					text-align: center;
					color: white;
					font-weight: normal;
					cursor: pointer;
					opacity: 1;
					border-radius: 50%;
				}
			&:focus {
				background-color: $gray;
			}
		}
		button.search-icon {
			position: absolute;
			width: 65px;
			// margin: 0 auto;
			padding: 0;
			// margin-left: -60px;
			border: none;
			background-color: white;
			cursor: pointer;
			top: 0;
			right:0;
			&:before {
				content: '';
				position: absolute;
				width: 35px;
				height: 35px;
				border: 2px solid #333;
				border-radius: 100%;
				top: 8px;
				left: 0;
			}
			&:after {
				content: '';
				position: absolute;
				right: 27px;
				top: 41px;
				width: 12px;
				transform: rotate(45deg);
				border: 1px solid #333;
			}
		}
		*/
		button {
			&:hover {
				opacity: 0.6;
			}
		}
	}/* end .search-field */
  	.search-filters {
		text-align: center;
		width: 100%;
		margin-top: 1em;
		.filter {
			display: inline-block;
			text-align: center;
			background: darken($primary-color,25%);
			color: $white;
			max-width: 150px;
			width: 80%;
			&:hover {
				background: $secondary-color;
			}
			input#filter-nav[type="checkbox"] {
				display: none;
			}
			input#filter-nav[type="checkbox"]:checked~.filter-drawer {
				margin: 0;
				.filter-content > button {
					position: fixed;
					bottom: 0;
					left: 0;
					margin: 0px;
					background: $secondary-color;
					color: white;
					box-shadow: -3px -1px 1px #36534a;
					transition: all 200ms ease-in;
					padding: 15px 0px 15px 0px;
					&:hover {
						background-color: darken($secondary-color, 5%);
					}
				}
			}
			input#filter-nav:checked+label.filter-label{
				&:after {
					content: "✕";
					position: fixed;
					top: 60px;
					left: 230px;
					color: $white;
					font-size:1.7rem;
					// z-index: 501;
					z-index: 4;    
					transition-delay: 2s;
				}
				// &:hover{
				// 	&:after {
				// 		color: $secondary-color;
				// 	}
				// }
			}
			input#filter-nav[type="checkbox"]:checked~label.filter-label {
				background: $secondary-color;
				color: $white;
				&:hover {
					background: $secondary-color;
				}
			}
			input#filter-nav[type="checkbox"]:checked~section {
				-webkit-transform: translate3d(260px, 0, 0);
				-moz-transform: translate3d(260px, 0, 0);
				-o-transform: translate3d(260px, 0, 0);
				transform: translate3d(260px, 0, 0);
			}
			label.filter-label {
				// padding: 0.4rem 3vw;
				padding: 10px 0;
				cursor: pointer;
				width: 100%;
				display: inline-block;
				text-align: center;
				-moz-transition: all 200ms ease-in;
				-webkit-transition: all 200ms ease-in;
				-o-transition: all 200ms ease-in;
				transition: all 200ms ease-in;

			}
			.filter-drawer {
				position:fixed;
				top:45px;
				left:0;
				width:270px;
				height:100%;
				margin:0 0 0 -270px;
				-moz-transition:all 200ms ease-in;
				-webkit-transition:all 200ms ease-in;
				-o-transition:all 200ms ease-in;
				transition:all 200ms ease-in;
				z-index:2;
				text-align:left;
				.filter-content{
					width: 270px;
					height: 100%;
					padding: 2rem;
					background: darken($primary-color,15%);
					color: white;
					margin: 0;
					list-style: none;
					overflow: scroll;
					position: relative;
					h1 {
						font-weight: 500;
					}
					ul{
						list-style-type: none;
						margin-left:-40px;
						padding-bottom: 80px;
						li{
							font-size: 14px;
							line-height: 2em;
						}
					}
					a{
						color:$white;
					}
					.selected-filter {
						color: $secondary-color;
					}
					/*input{
					position: absolute; // take it out of document flow
					opacity: 0; // hide it
				/*& + label {
					position: relative;
					cursor: pointer;
					padding: 0;
				}*/

				// Box.
				/* & + label:before {
					content: '';
					margin-right: 10px;
					display: inline-block;
					vertical-align: text-top;
					width: 20px;
					height: 20px;
					background: white;
				}

				// Box hover
				&:hover + label:before {
					background: $secondary-color;
				}
				
				// Box focus
				&:focus + label:before {
					//box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
				}

				// Box checked
				&:checked + label:before {
					background: $secondary-color;
				}
				
				// Disabled state label.
				&:disabled + label {
					color: $white;
					cursor: auto;
				}

				// Disabled box.
				&:disabled + label:before {
					box-shadow: none;
					background: $lightgray;
				}

				// Checkmark. Could be replaced with an image
				&:checked + label:after {
					content: '';
					position: absolute;
					left: 5px;
					top: 9px;
					background: white;
					width: 2px;
					height: 2px;
					box-shadow: 
					2px 0 0 $white,
					4px 0 0 $white,
					4px -2px 0 $white,
					4px -4px 0 $white,
					4px -6px 0 $white,
					4px -8px 0 $white;
					transform: rotate(45deg);
				}
						}
					label {
						display: block;
						-moz-transition: all 200ms ease-in;
						-webkit-transition: all 200ms ease-in;
						-o-transition: all 200ms ease-in;
						transition: all 200ms ease-in;
						z-index: 500;
						&.filter-label {
							width: 100px;
							font-size: 1em;
							text-align: center;
					}/* end filter-label */
				//}/* end label */
				button {
					font-size: 0.8rem;
					// width: 100%;
					width: 270px;
					border: none;
					background-color: $white;
					cursor: pointer;
					padding: 0.5rem;
					// margin: 1rem 0;
					text-transform: uppercase;
					color: darken($primary-color, 11%);
					margin: 0 0 0 -270px;
					&:hover {
						background-color: darken($secondary-color,5%);
						color: $white;
					}
					&:before {
						content: "✕";
						margin-right: 10px;
					}
				}/* end button */
				p{
					text-align: center;
					margin-top:0;
					text-transform: uppercase;
					font-size: 0.8rem;
					cursor: pointer;
					&:hover{
						color: $secondary-color;
					}
				}
			}/* end .filter-content*/
		}/* end .filter-list */
		.multi-select {
			display: none;
		}
	}/* end #filter */
  }/* end .search-filters */
  .search-summary {
	padding: 20px 9% 0px 9%;
	display: flex;
	flex-wrap: wrap;
	span {
		white-space: nowrap;
		padding: 7px 10px;
		border: 1px solid darken($primary-color, 13%);
		margin: 5px 5px 0px 0px;
	}
	.selected-filter {
		color: $secondary-color;
	}
  }
}/* end section #search */

/* tabs*/
.tabs {
	margin: 0 auto;
	padding-top: 1vh;
	position: relative;
	width:80vw;
	text-align:right;
	input, section {
		clear: both;
		padding-top: 10px;
		display: none;
	}
	label {
		font-weight: 500;
		font-size: 1.1rem;
		display: block;
		padding: 0.2rem;
		margin:0.5rem;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
		color: $gray;
		display:inline-block;
	}
	#tab1:checked ~ #content1,
	#tab2:checked ~ #content2 {
		display: block;
	}
	[id^="tab"]:checked + label {
		color:darken($primary-color,25%);
		border-bottom:1px solid;
	}
	section{

		&#content1{
			&:hover{
				.photo:not(:hover){
					transition: .2s ease-in;
					opacity:0.5;
				}
			}
			.photo{
				float:left;
				position:relative;
				width:16.66%; 
				display:block;
				/*
				&:hover{

					.photo-data {

					}
					.photo-image{

					}
				}
				*/
				.photo-image{
					width: 100%;
					padding-bottom: 100%;
					overflow: hidden;
					position: relative;
					z-index:-1;
					img{
						width: 100%;
						height: auto;
						margin: auto;
						position: absolute;
						top: -100%;
						right: -100%;
						bottom: -100%;
						left: -100%;
					}
				}
			/* Modal */
			.modal-overlay{
				display: none;
				.modal-content{
					background:$black;
					color:$white;
					padding:3% 4%;
					text-align:justify;
					p {
						line-height: 1.4em;
					}
					h3{
						margin-top:2.2rem;
						text-align:center;
					}
					ul.keywords{
						margin: 1rem 0 0 -40px;
						text-align: left;
						padding: 0 0 0.5rem 0;
						border-top: 1px solid $gray;
						margin: 1.5rem 0 0 0;
						h5{
							margin:1rem 0 0.4rem 0;
						}
						li{
							display: inline-block;
							list-style-type: none;
							margin: 0 0 0.3rem 0;
							cursor: pointer;
							border:1px solid lighten($primary-color,30%);
							padding:0.3rem 0.5rem;
							a {
								color: lighten($primary-color,30%);
								font-size: 0.9rem;
							}
							/*&:after{
								content:",";
							}
							&:last-child{
								&:after{
									content:"";
								} 
							}*/
							&:hover{
								color: lighten($secondary-color,15%);
								border:1px solid lighten($secondary-color,15%);
							}
						}
				}/* end ul.keywords */
				a.modal-close{
					position: absolute;
					right: 22%;
					border-radius:50%;
					padding:0.2rem 0.5rem;
					background: lighten($primary-color,20%);
					color: $black;
					&:hover {
						background: $secondary-color;
						color: $white;
					}
				} 
				a.readmore{
					display: block;
					width: 80%;
					margin: auto;
					text-align: center;
					padding:0.5rem 0 0.4rem 0;
					margin-bottom:1rem;
					background: lighten($primary-color,20%);
					color: $black;
					max-width: 150px;
					&:hover {
						background: $secondary-color;
						color: $white;
					}
				}
			}/* end modal-content */
			&:target {
				margin-top: 56px;
				width: 100%;
				height: 100%;
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: scroll;
				z-index: 99;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(255,255,255,0.6);
				overflow: scroll;
				padding: 0% 20%;
			}/* end :target */
			}/* end .model-overlay */
        } /* end .photo */
      } /* end #content1 Grid */
      &#content2{
      	.photo{
      		width:100%;
      		text-align:left;
      		border-bottom:1px solid $lightgray;
      		padding:2rem 0;
      		// &:hover{
      		// 	background:lighten($primary-color,40%);
      		// }
      		.photo-image{
      			width:15%;
      			margin:0 2% 0 0;
      			display:inline-block;
      			img{
      				width:100%;
      				height:auto;
      			}
      		}
      		.photo-data{
      			width:80%;
      			display:inline-block;
      			vertical-align:top;
      			text-align:left;
      			color:$black;
      			h2{
      				margin-top:0;
					font-size:1.2rem;
					line-height: 1em;
				  }
				.readmore {
					color: $secondary-color;
					&:hover {
						color: darken($secondary-color, 10%);
						text-decoration: underline;
					}
				}
      			ul.keywords{
      				h5{
      					margin:1.5rem 0 0.8rem 0;
      				}
      				margin:0 0 0 -40px;
      				text-align:left;
      				li{
      					display:inline-block;
      					list-style-type:none;
      					font-size:1rem;
						border:1px solid darken($primary-color,10%);
						background-color: white;
      					padding:0.3rem 0.5rem;
						color: darken($primary-color,10%);
						margin-bottom: 5px;
      					/*&:after{
      						content:",";
      					}
      					&:last-child{
      						&:after{
      							content:"";
      						} 
      					}*/
      					&:hover{
							border:1px solid $secondary-color;
							color: $secondary-color;
      					}
	              }/*end li */

	          }
          } /* end .photodata */
        } /* end .photo */
      } /* end #content2 List */
    } /* end section */
}/* end tabs */



/* Breadcrumbs */
.breadcrumb{
    padding: 0;
    width: 100%;
    ul{
        margin: 0 0 0 -40px;
        li{
            list-style-type: none;
            display: inline-block;
            color: darken($primary-color,20%);
            font-size: 0.7rem;
            margin: 0;
            text-transform: uppercase;
            line-height: 2;
            a{
                color: darken($primary-color,20%);
                text-decoration: none;
                &:hover{
                    color: $secondary-color;
                    border:none;
                }
            }
            &:after{
                content:"▸";
                padding-left:0.3rem;
            }
        }
    }
    h1{
        margin: 0;
        padding:0.7rem 0 0.7rem 0;
        font-size: 1.6rem;
        border-top: 1px solid darken($lightgray,5%);
		line-height: 1.2em;
        >span{
        	background:darken($primary-color,25%);
		    padding: 0.2rem 0.2rem 0.2rem 0.7rem;
		    font-size: 1.2rem;
		    color: #fff;
		    text-transform: uppercase;
		    vertical-align: middle;
		    line-height: 1;
		    margin-right: 1rem;
        	>span{
			    font-size: 0.8rem;
			    padding: 0.6rem 0.3rem 0 0.3rem;
			    color: $white;
			    display: inline-block;
			    vertical-align: top;
			    // font-weight: normal;
			}
        }
       
    }
}

/**** OBJECT PAGE ****/

//.object-page{
	/* Article */
	article {
		margin: 5rem 0 0 0;
		width: calc(100% - 20rem);
		float: left;
		text-align: justify;
		// padding: 0 3% 20vh 3%;
		padding: 0 3% 0 3%;
		line-height: 1.4em;
		font-size: 1.1rem;
		&.width-100 {
			width: 100% !important;
			// max-width: 1600px;
			padding-bottom: 0px;
		}
		.summary{
			border-top: 1px dashed $lightgray;
			padding:1rem 0;
			h2{
				padding: 1.5rem 0 0 1.5rem;
				float: left;
			}
			.summary-content{
				color:$black;
				font-size:1rem;
				line-height: 1.4em;
				// font-weight:100;
				background:lighten($lightgray,13%);
				padding:1.5rem;
			}/* end .content */
		}/* end .summary */
		h1{
			margin:0 0 1rem 0;
		}/* end h1 */
		h2{
			margin:0 0 0.5rem 0;
			font-size:1.4rem;
			display: inline-block;
			width: 100%;
			&.section{
				margin: 1rem 0 1rem 0;
				font-size:1.4rem;
				border-left: 5px solid lighten($primary-color,20%);
				padding: 0.4rem 0 0.2rem 0.5rem;
			}
		}/* end h2 */
		h3{
			font-style:italic;
			margin:0 0 1.5rem 0;
			// font-weight:normal;
			font-size:1rem;
			color:darken($primary-color,25%);
		}/* end h3 */
		.details {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.5rem;
			h3 {
				margin-bottom: 0;
			}
			.pdf {
				text-align:center;
				a{
					display: block;
					padding: 0.5rem 1rem;
					margin: 0 auto;
					width: 15rem;
					font-size: 1rem;
					margin-bottom: 1rem;
					background: darken($primary-color,25%);
					border:1px solid darken($primary-color,25%);
					color:$white;
					&:hover{
						background: $secondary-color;
						border:1px solid $secondary-color;
						color:$white;
					}
				}
			}
		}
		
		ol,ul{
			li{
				margin:0 0 1rem -20px;
				text-align: left;
			}
		}
		a{
			text-decoration:none;
			color:darken($primary-color,13%);
			&:hover{
				color:$secondary-color;
				border-bottom: 1px dashed;
			}
		}
		.block-image{
			figure.align-left{
				margin:0;
				float:left;
				width:40%;
				margin-right:5%;
				img{
					width:100%;
					height:auto;
				}
			}
			figure.align-right{
				margin:0;
				float:right;
				width:40%;
				margin-left:5%;
				img{
					width:100%;
					height:auto;
				}
			}
		}
		.keywords{
			width:100%;
			float:left;
			border-top: 1px dashed $lightgray;
			padding:1rem 0;
			ul{
				margin: 0 0 0 -40px;
				text-align:left;
				li{
					background:darken($primary-color,25%);
					display:inline-block;
					padding:0.3rem 0.7rem;
					list-style-type:none;
					margin:0 0.2rem 0.5rem 0;
					font-size:1rem;
					cursor: pointer;
					a{
						color:$white;
						&:hover{
							border:none;
					}
					}
					&:hover{
						background:$secondary-color;
					}
				}
			}
		}/* end .keywords */
		.biography{
			width:100%;
			float:left;
			border-top: 1px dashed $lightgray;
			padding:1rem 0;
			color: $black;
			.rich-text > p:first-child{
				margin-top: 0px;
			}
		}
		.footnotes{
			width:100%;
			float:left;
			border-top: 1px dashed $lightgray;
			padding:1rem 0;
			font-size:0.9rem;
	  }/* end .footnotes */  
	  .sources{
	  	width:100%;
	  	float:left;
	  	border-top: 1px dashed $lightgray;
	  	padding:1rem 0;
		  ol{
		  	float:left;
		  	width:100%;
		  }
	  }/* end .sources */
	  .key{
		width:100%;
		float:left;
		ul{
			margin: 0 0 0 -40px;
			text-align:left;
			li{
				color:darken($primary-color,25%);
				display:inline-block;
				// color:$white;
				padding:0.2rem 0.6rem 0.2rem 0.6rem;
				list-style-type:none;
				margin:0 0.1rem 0.5rem 0;
				span{
					font-size:1.1rem;
					display: inline-block;
					vertical-align: middle;
				}
				// &:hover{
				// 	background:darken($primary-color,35%);
				// }
			}
		}

	}/* end .key */
	  .geography{
	  	width:100%;
	  	float:left;
	  	border-top: 1px dashed $lightgray;
	  	padding:1rem 0;
		/* Map */
		#map{
			float:left;
			// width:48%;
			width: 60%;
			margin-right:2%;
			// overflow: auto;
			// height:400px !important;
			height: 78vh !important;
			&:focus {
				background-color: $gray;
			}
			/* Leaflet */
			.leaflet-popup-content-wrapper{
				color:$white;
				background:$black; 
				border-radius:0;
				text-align:center;
				h4{
					font-size: 1.2rem;
					// font-weight: normal; 
					margin:1.3rem 0 0 0;
					line-height: 1.2;
				}
				h5{
					font-size: 0.9rem;
					color: lighten($primary-color,20%);
					// font-weight: normal;
					margin:0.2rem 0 0.5rem 0;
				}
			}

			.leaflet-popup-tip {
				background:$black; 
				box-shadow: none;
				height:60px;
				transform: rotate(0);
				width:0;
			}

			.leaflet-pane {
				z-index: 2;
			}

			.leaflet-top, .leaflet-bottom {
				z-index: 3;
			}

			.leaflet-control-attribution a {
				text-decoration: underline;
			}

			.point-icon{
				background-color: $secondary-color;
				border-radius: 50%;
				width:15px !important;
				height:15px !important;
				box-shadow: 0 0 7px $secondary-color;
				transition: all 1s;
				opacity:0.85;
			}

		}/* end map */
		/* Accordion styles */
		.accordion-wrapper{ 
			// float:left;
			// width:50%;
			width: auto;
			overflow: auto;
			height: 78vh;
			.accordion {
				position: relative;
				overflow: hidden;
				border-bottom:1px solid $lightgray;
				input {
					position: absolute;
					opacity: 0;
					z-index: -1;
					&:checked + a label {
						background-color: lighten($lightgray, 10%);
					}
					&:checked ~ .content { /* :checked */
						max-height: 100vh;
					}
		      &[type=checkbox] + a label::after {
		      	content: "+";
		      	color:gray;
		      }
		      &[type=radio] + a label::after {
		      	content: "\25BC";
		      }
		      &[type=checkbox]:checked + a label::after {
		      	content: "-";
		      }
		      &[type=radio]:checked + a label::after {
		      	content: "+";
		      }
		    }/* input */
		    a label {
				padding: 15px 20px;
		    	position: relative;
		    	display: block;
		    	// font-weight: bold;
		    	cursor: pointer;
		    	padding:1rem 1rem;
		    	text-align: left;
		    	h5, h6{
		    		margin:0;
		    		line-height: 1.2;
				}/* end h5, h6 */
				h5 {
					font-size: 1rem;
					line-height: 1.4em;
				}
				h6{
					color: $darkgray;
					font-size: 0.8rem;
					// font-weight: normal;
				}
				&:hover{
					background: $lightgray;
				}
			      &::after { /* Icon */
			      	position: absolute;
			      	right: 0;
			      	top: 0;
			      	display: block;
			      	width: 3em;
			      	height: 3em;
			      	line-height: 3;
			      	text-align: center;
			      	-webkit-transition: all .35s;
			      	-o-transition: all .35s;
			      	transition: all .35s;
			      }
		    }/* end label */
		    .content {
		    	padding:0 1rem;
		    	max-height: 0;
		    	overflow: hidden;
		    	-webkit-transition: max-height .35s;
		    	-o-transition: max-height .35s;
		    	transition: max-height .35s;
		    	font-size: 1rem;
		    	.rich-text p {
					margin: 0 0 1.5rem 0;
				}
		    }/* end .content */
		  }/* end .accordion */
		}/* end .accordion-wrapper */ 
	  }/* end .geography */
	  .timeline{
	  	width:100%;
	  	float:left;
	  	border-top: 1px dashed $lightgray;
		padding: 1rem 0;
		#timeline-embed {
			width: 100%; 
			height: 70vh;
		}
	  	img {
	  		width: 100%;
		}
		//additional styling for the timeline
		.tl-timeline {
			.tl-slider-background {
				background-color: #2d303a !important;
			}
		}
		.tl-timeaxis-tick {
			&:before {
				border-color: $black !important;
			}
			.tl-timeaxis-tick-text {
				color: white !important;
				font-size: 14px;
			}
		}
		.tl-timemarker.tl-timemarker-active {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background-color: #2d303a !important;
			.tl-timemarker-content-container {
				background-color: #2d303a !important;
				.tl-headline {
					font-size: 16px !important;
					color: white !important;
					line-height: 16px !important;
				}
			}
		}
		.tl-headline {
			
			text-align: left;
		}
		.tl-skinny .tl-text h2.tl-headline {
			font-size: 1rem;
			line-height: 1.4rem;
		}
		.tl-storyslider {
			.tl-headline-date {
				margin-bottom: 15px;
				font-size: 18px;
				font-style: normal;
				color: lighten($lightgray, 10%);
			}
			.tl-headline {
				color: $light-primary;
			}
			.tl-text {
				border-left: 3px solid $light-primary;
			}
			.tl-text-content p{
				color: #e3e3e3;
				margin-bottom: 0px;
			}
			.tl-slidenav-icon, .tl-slidenav-title, .tl-slidenav-description {
				text-shadow: none;
				color: lighten($lightgray, 10%) !important;
				opacity: 1 !important;
			}
			.tl-slidenav-next, .tl-slidenav-previous {
				opacity: 0.5 !important;
				top: 30% !important;
				&:hover {
					opacity: 1 !important;
				}
				.tl-slidenav-content-container {
					height: max-content;
					.tl-slidenav-title, .tl-slidenav-description {
						line-height: 1.2em !important;
						font-size: 13px !important;
					}
					.tl-slidenav-icon {
						font-size: 24px !important;
					}
				}
			}
		}
		.tl-timeaxis-background {
			background-color: #e0eae6;
		}
		.tl-timenav {
		    .tl-headline, .tl-timeaxis-tick-text {
				color: #2b3247 !important;
			}
		}
	  }/* end .timeline */  

	  .furtherreading{
	  	width:100%;
	  	float:left;
	  	border-top: 1px dashed $lightgray;
	  	padding:1rem 0;
	  	font-size:0.9rem;
	  }/* end .readinglist */  
	} /* end article */

	/* SIDEBAR NAVIGATION */
	.sidebar-wrapper{
		display: inline-block;
		text-align:left;
		width:100%;
		right:0;
		background:$black;
		.sidebar-label{
			position: fixed;
			// top:calc(100vh - 3rem);
			right: 0;
			bottom: 0;
			width:100%;
			background: $black;
			color:$white;
			display: block;
			z-index: 100;
			>label{
				float: left;
				width: 100%;
				text-align: center;
				line-height: 1.1rem;
				-moz-transition:all 200ms ease-in;
				-webkit-transition:all 200ms ease-in;
				-o-transition:all 200ms ease-in;
				transition:all 200ms ease-in;
				cursor: pointer;  
				padding:1rem;
				display: none;
			}/* end label */
			>input{
				&[type="checkbox"]{
					display:none;
					&:checked{
						~ label{ /* Slides label out but hidden */
						  //right:460px;
						  //visibility: hidden;
						}/* end label */
					}/* end :checked */
				}/* end [type="checkbox"] */
				&:checked{ 
					+ label:after { /* close button */
						content: "✕";
						position: fixed;
						right: 0;
						top:3rem;
						color: white;
						background: $black;
						z-index: 3;
						padding: 3px 0 0 0;
						font-size: 1.7rem;
						line-height: 1.8;
						visibility: visible;
						z-index:9;
						display: block;
						padding:10px;
					} /* end label:after */
					+ label{ /* adds close button */  
						position: relative;
						top: calc(-100vh + 11rem);
						visibility: visible;
						z-index: 9;
						display: block;
					} /* end label */
				}/* end checked */
				/* First */
				&#page-content{ /* First */
					&[type="checkbox"]{
						&:checked{
							~ .drawer{ /* Slides drawer out */
								top:3rem;
								-moz-transition:all 600ms ease-in;
								-webkit-transition:all 600ms ease-in;
								-o-transition:all 600ms ease-in;
								transition:all 600ms ease-in;
							}/* end .drawer */
						}/* end :checked */
					}/* end [type="checkbox"] */
				}/* end #page-content */
			}/* end input */

		} /* end .pagecontent-label */
		.drawer{
			position: fixed;
			top:190%;
			right: 0;
			width: 100%;
			height: 100%;
			margin: 0 0 -100% 0;
			z-index: 2;
			background: $black;
			padding: 0 15px 15px 15px;
			color: white;
			.tabs-wrapper{
				margin-top: 3rem;
				padding: 1rem 0 0 0;
				background: $darkgray;
				height: 100%;
				width: 20rem;
				position: fixed;
				top: 0;
				right: 0;
				text-align: center;
				overflow: scroll;
				.tabs-object {
					margin: 0 auto;
					position: relative;
					input, section {
						clear: both;
						padding-top: 10px;
						display: none;
					}
					label {
						font-size: 0.9rem;
						display: block;
						padding: 0.2rem;
						margin: 0.5rem 1rem 1rem 0;
						cursor: pointer;
						text-decoration: none;
						text-align: center;
						color: $light-primary;
						display: inline-block;
						text-transform: uppercase;
						
						&:hover{
							span{
								color: lighten($secondary-color,25%);
							}
				
						}
					}
					#tab1:checked ~ #content1,
					#tab2:checked ~ #content2,
					#tab3:checked ~ #content3{
						display: block;
					}
					[id^="tab"]:checked + label {
						color:$white;
						border-bottom:1px solid;
						&:hover{
							border-bottom:1px solid lighten($secondary-color,15%);
						}

					}
					}/* end .tabs-object */
					.name-active{
						h2{
							color:$white;
							&:before {
								border: 2px solid $white;
								background-color: $white;
								
							} 
							&:hover{
								&:before {
									background-color: lighten($secondary-color,15%);
								} 
							}
						}
						h6{
							color:$white;
							&:before {
								border: 2px solid $white;
							} 
						}
						span{
							color:$white;
						}

					}/* .name-active */
					h4{
						color:$white;
						border-top:1px solid;
						border-bottom:1px solid;
						display:inline-block;
						padding:0.4rem 0 0.2rem 0;
						margin:0 0 1rem 0;
					}
					ul {
						list-style-type: none;
						margin-top: 1.5rem 0;
						padding: 0;
						li{
							text-align: left;
							margin-bottom:20px;
							display:block;
							float:left;
							width:100%; 
							padding-left:10%;
							a {
								text-decoration: none;
							}/* end a */
							h2{
								color: $light-primary;
								margin:0 0 0 1rem;
								//text-transform:uppercase;
								font-size:1.1rem;
								font-weight:400;
								padding-right: 10%;         
								&:before {
									border-radius: 50%;
									background-color: $darkgray;
									border: 1px solid lighten($gray,10%);
									content: '';
									height: 7px;
									width: 7px;
									margin-left:-14px;
									display: block;
									z-index:5;
									margin-bottom: -1.1rem;
									border-radius:50%;
								} /* end before */
								&:hover{
									color: lighten($secondary-color,15%);
									&:before{
										border: 1px solid lighten($secondary-color,15%);
									}
								}
							}/* end h2 */
							h3{
								color:lighten($primary-color,40%);
								margin:0 0 0 1rem;
								text-transform:uppercase;
								font-size:1rem;
								font-weight:400;         
								&:before {
									border-radius: 50%;
									background-color: $darkgray;
									border: 1px solid lighten($primary-color,20%);
									content: '';
									height: 5px;
									width: 5px;
									margin-left:-13px;
									display: block;
									z-index:5;
									margin-bottom: -0.9rem;
								} 
							}/* end h3 */
							.source {
								margin:0 0 0 1rem;
								color:lighten($primary-color,20%);
								& > span {
									margin:0.2rem 0 0.5rem 0;
									text-transform:none;
									font-size:0.9rem;
									color:white;
									display: block;
									span {
										margin-left: 10px;
									}
								}/* end span */
							}
							&:after{
								content: '';
								border: none;
								//border-left: 1px solid lighten($primary-color,10%);
								border-left: 1px solid $gray;
								margin-left: 5px;
								padding-right:2px;
								padding-bottom:20rem;
								padding-top: 0.35rem;
								z-index:-1;
							}	 
							&:last-child{
								&:after{
									border-left: 1px solid $darkgray;
								}	 
							}/* end last-child */
							&:hover{
								h5{
									color:lighten($primary-color,5%);
									&:before {
										border: 2px solid lighten($primary-color,10%);
										background-color: lighten($primary-color,10%);
									}
								}
								h6{
									color:lighten($primary-color,5%);
									&:before {
										border: 1px solid lighten($primary-color,10%);
									}
								}
								.source {
									color:lighten($primary-color,5%);
								}
							}/* end hover */
						}/* end li */
					}/* end ul */
					.relatedobjects{
						width:100%;
						float:left;
						font-size:0.9rem;
						ul{
							margin:0 0 0 -35px;
							list-style-type:none;
							li a{
								width:100%;
								float:left;
								// margin-bottom:1rem;
								margin-left:0;
								color:$white;
								padding:1rem 2rem;
								border-bottom:1px solid $gray;
								text-align: justify;
								line-height: 1.3;
								font-size:1rem;
								h1{
									font-size:1.1rem;
									margin:0 0 1rem 0;
									color: darken(white,10%);
								}
								img{
									width:70%;
									height:auto;
									margin:0 0 1rem 0;
								}
								p{
									margin:0 auto;
								}
								&:hover{
									background: darken($secondary-color,10%);
								}
								
							}/* end li a */
							li:after {
								border-left: 0px;
							}
						}/* end ul */
					}/* end .relatedobjects */ 
				}/* end .tabs-wrapper */
		}/* end .drawer */
	 }/* end .sidebar-wrapper */
//}/* end .object-page */


/*** SOURCE PAGE ***/
.source-page{
	padding: 5rem 3% 20vh 3%;
	// p{
	// 	line-height: 1.3;
	// 	font-size: 1.2rem;
	// 	margin-top: 0px;
	// }
	.source-section{
		display: block;
		float: left;
		width: 100%;
		border-top: 1px dashed $lightgray;
		padding: 2rem 0;
		h5{   
			font-style: normal;
			margin: 0 0 0.5rem 0;
		}
		.align-left{
			width:70%;
			float: left;
			margin:0 3% 0 0;
			img {
				width: 100%;
			}
			.pdf{
				margin: 0 auto;
    			width: 100%;
    			text-align:center;
				a{
					display: block;
					padding: 0.5rem 1rem;
					margin: 0 auto;
					width: 15rem;
					font-size: 1rem;
					margin-bottom: 1rem;
					background: darken($primary-color,25%);
					border:1px solid darken($primary-color,25%);
					color:$white;
					&:hover{
						background: $secondary-color;
						border:1px solid $secondary-color;
						color:$white;
					}
				}
				/*embed{
					height:60vh;
				}*/
				h6{
				  float:left;
				  width:100%;
				  background-color:lighten($lightgray,13%);
				  color: $gray;
				  text-align: center;
				  padding:0.5rem 0 0.2rem 0;
				  border:1px solid $lightgray;	
				//   font-weight: normal;
				  text-transform: uppercase;	
				  margin:0;
				  font-size: 0.6rem;
				}
				img{
					width: 50%;
					height: auto;
					border:1px solid $lightgray;
					border-top:0;	
					margin-bottom: 1rem;			
				}

			}
			iframe{
				height:60vh;
			}
		}
		.metadata{        
			background:lighten($lightgray,13%);
			margin-top:0;
			//width:27%;
			//float:left;
			padding:0.5rem 1rem;
			text-align:left;
			font-size:0.8rem;
			overflow: auto;
			dl dt,
			dl dd {
				display: block;
				// vertical-align: top;
				padding:0;
				margin:0;
			}
			dl dt{
				// width: 28%;
				padding: 0 2% 10px 0;
				// font-size: 0.6rem;
				font-size: 14px;
				color: darken($primary-color, 20%);
				font-weight: 500;
				text-transform: uppercase;
				// display: inline-block;
			}

			dl dd{
				margin-right:-1px;
				padding: 0 0 1.5rem 0;
				// font-size: 0.9rem;
				font-size: 1rem;
				.rich-text p{
					font-size: 1rem;
					line-height: 1.6em;
					margin: 0;
				}
			}
		}/* end .metadata */
		figure{
			&.align-left{
				width:initial !important;
				float: left;
				margin:0 3% 0 0;
				img{
					//width:100%;
					height:auto;
				}
	        }/* end .align-left */
	        &.align-right{
	        	width:70%;
	        	float: right;
	        	margin:0 0 0 3%;
	        	img{
	        		width:100%;
	        		height:auto;
	        	}
	        }/* end .align-right */
	    }/* end figure */
	}/* end .source-section */
}/* end .source-page */

@media screen and (max-width: 900px) {
	main {
		article {
			.details {
				display: block;
				.pdf a {
					margin: 10px 0px 20px 0px;
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
/**** OBJECT PAGE ****/
.object-page{
	article{
		width:100%;
	}
	.geography{
		width:100%;
		float:left;
		border-top: 1px dashed $lightgray;
		padding:1rem 0;
		/* Map */
		#map{
			width:100%;
			margin-right:2%;
			margin-bottom: 10px;
		}/* end map */
		/* Accordion styles */
		.accordion-wrapper{ 
			width:100%;
			height:78vh;
		}/* end .accordion-wrapper */ 
	  }/* end .geography */


	/* SIDEBAR NAVIGATION */
	.sidebar-wrapper{
		display: inline-block;
		text-align:left;
		width:100%;
		right:0;
		background:$black;
		.sidebar-label{
			// position: fixed;
			// top:calc(100vh - 5rem);
			// bottom: 0;
			left:0;
			width:100%;
			background: $darkgray;
			color:lighten($primary-color,15%);
			display: block;
			padding-bottom: 2rem;
			>label{
				float: left;
				width: 100%;
				text-align: center;
				line-height: 1.1rem;
				-moz-transition:all 200ms ease-in;
				-webkit-transition:all 200ms ease-in;
				-o-transition:all 200ms ease-in;
				transition:all 200ms ease-in;
				cursor: pointer;  
				padding:1rem;
				display: block;
				span{
					padding: 0.2rem 0.4rem;
					margin: 0.5rem 1rem 1rem 0;
					text-transform: uppercase;
					font-size: 1rem;
					cursor: pointer;
				}
			}/* end label */
			&:hover{
				color:$white;
			}
			>input{
				&[type="checkbox"]{
					display:none;
					&:checked{
						~ label{ /* Slides label out but hidden */
						  //right:460px;
						  //visibility: hidden;

						}/* end label */
					}/* end :checked */
				}/* end [type="checkbox"] */
				&:checked{ 
					+ label:after { /* close button */
						content: "✕";
						position: fixed;
						right: 0;
						top:4rem;
						color: $black;
						background: $white;
						z-index: 3;
						padding:1.3rem 0.5rem 0.9rem 0.5rem;
						font-size: 1.7rem;
						line-height: 0;
						visibility: visible;
						z-index:9;
						display: block;
					} /* end label:after */
					+ label{ /* adds close button */  
						position: relative;
						top: calc(100vh + 11rem);
						visibility: visible;
						z-index: 9;
						display: block;
					} /* end label */
						&:hover{
							+ label:after { 
								color: $secondary-color;
							}
						}
				}/* end checked */
			}/* end input */
			&:hover{
				background: $secondary-color;
			}
		} /* end .pagecontent-label */
		.drawer{
			position:fixed;
			top:190%;
			right:0;
			width:100%;
			height:100%;
			margin:0 0 -100% 0;
			z-index:2;
			background: $black;
			padding: 0;
			color: white;
			-moz-transition:all 600ms ease-in;
			-webkit-transition:all 600ms ease-in;
			-o-transition:all 600ms ease-in;
			transition:all 600ms ease-in;
			.tabs-wrapper{
				margin-top:0;
				padding:1rem 0 0 0;
				background:$darkgray;
				height:100%;
				width: 100%;
				min-width: 10rem;
				position: relative;
				text-align: center;
				overflow:scroll;
					.relatedobjects{
						ul{
							li a{
								margin-left: -5vw;
								text-align: justify;
							}/* end li a */
						}/* end ul */
					}/* end .relatedobjects */ 
				}/* end .tabs-wrapper */
		}/* end .drawer */
	 }/* end .sidebar-wrapper */

	}


	/*** SOURCE PAGE ***/
	.source-page{
		.source-section{
			padding: 1rem 0;
			.align-left{
				width:100%;
				margin:0;
			}
			.metadata{        
				width:100%;
				margin-top:1rem;
			}/* end .metadata */
			figure{
				&.align-left{
					width:100%;
					margin:0;
		        }/* end .align-left */
		        &.align-right{
		        	width:100%;
		        	margin:0;
		        }/* end .align-right */
		    }/* end figure */
		}/* end .source-section */
	}/* end .source-page */

	.tabs section#content1 .photo {
		.modal-overlay:target{
			align-items: flex-start;
		}
		width: 33.3%;
	}
	
}/* end media screen and (max-width: 800px) */



@media screen and (max-width: 600px) {

	/**** HEADER ****/
	header {
		// padding: 0.9rem 3% 0 3%;
		& > a {
			font-size: 1rem;
			max-width: 8rem;
			display: block;
		}
		/**** NAVIGATION ****/
		nav {
			.menu-list {
				width: 90%;
				height: 100%;
				margin: 0 -90% 0 0;
				ul {
					width: 100%;
				}
			}
			label {
				&.menu-label {
					right: 1.5rem;
					font-size: 1rem;
					.menu-text {
						top:0px;
					}
				}/* end .menu-label */
			}/* end label */
		}/* end nav */
	}/* end header */

	.shortcutlinks {
		margin-top: 4rem;
	}
	// section#search {
	// 	.search-field {
	// 		button {
	// 			&.search-icon {
	// 				&:before {
	// 					width: 25px;
	// 					height: 25px;
	// 					top: 12px;
	// 					left: 7px;
	// 				}
	// 				&:after {
	// 					top: 36px;
	// 				}
	// 			}
	// 			&.close-icon:after {
	// 				margin-right: 0px;
	// 				right: 65px;
	// 			}
	// 		}
	// 	}
	// }
	.tabs section#content1 .photo .modal-overlay {
		.modal-content {
			a.modal-close {
				right: 15%
			}
		}
		&:target {
			padding: 10%;
		}
	}
	ul.keywords {
		li {
			padding: .7em 1.5em !important;
			margin-top: 5px !important;
		}
	}
	article {
		.geography #map {
			height: 200px !important;
		}
		// .block-image figure.align-right {
		// 	width: auto;
		// 	margin: auto;
		// 	text-align: center;
		// 	float: none;
		// 	img {
		// 		max-width: 400px;
		// 	}
		// }
	}

	.timeline {
		#timeline-embed {
			height: 30em !important;
		}
	}

}/* end media screen and (max-width: 600px) */

